<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online bus booking Site</title>
</head>
<body>
    <div><h3>it is your online bus booking portal</div>
    <div><h3>Do you want to search buses? <a href="/busreg" >Click here to book seat</a></div>

    <div>
        <!---<h3><input type="button" text="checkin" href="/check/inbus" ></h3> -->
        <a href='/check/inbus'>
        <button >
            Checkin
        </button>
    </a>
    </div>
    <div>
        <a href='/check/outbus'>
        <button >
            Checkout
        </button>
    </a>
        
    </div>
</body>
</html>